<div>
    <div class="form-container">
        <form (submit)="send()" ngNativeValidate>
            <h3>Write comment</h3>
            <div class="form-floating">
                <textarea required name="body" [(ngModel)]="comment.body" class="form-control"
                    placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                <label for="floatingTextarea2">Comments</label>
            </div>
            <button class="btn btn-outline-secondary">send</button>
        </form>
    </div>
    <div class="list-container">
        <div class="comment-card" *ngFor="let c of comments">
            <strong>{{c.userName}}:</strong>
            <hr>
            <div class="comment-body">{{c.body}}</div>
        </div>

    </div>
</div>